# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Model files
*.pt
*.pth
*.tflite

# Dataset files
datasets/*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS files
.DS_Store